In [4]:
import numpy as np 
import pandas as pd

df = pd.read_json('logins.json').set_index('login_time')
df

Empty DataFrame
Columns: []
Index: [1970-01-01 20:13:18, 1970-01-01 20:16:10, 1970-01-01 20:16:37, 1970-01-01 20:16:36, 1970-01-01 20:26:21, 1970-01-01 20:21:41, 1970-01-01 20:12:16, 1970-01-01 20:35:47, 1970-01-01 20:35:38, 1970-01-01 20:47:52, 1970-01-01 20:26:05, 1970-01-01 20:31:03, 1970-01-01 20:34:46, 1970-01-01 20:36:34, 1970-01-01 20:39:25, 1970-01-01 20:40:37, 1970-01-01 20:34:58, 1970-01-01 20:43:59, 1970-01-01 20:47:46, 1970-01-01 20:46:34, 1970-01-01 20:56:07, 1970-01-01 20:49:12, 1970-01-01 20:59:06, 1970-01-01 20:59:59, 1970-01-01 21:15:01, 1970-01-01 21:09:24, 1970-01-01 21:19:24, 1970-01-01 21:20:53, 1970-01-01 21:29:19, 1970-01-01 21:58:05, 1970-01-01 21:51:51, 1970-01-01 21:59:40, 1970-01-01 22:08:34, 1970-01-01 22:02:51, 1970-01-01 21:58:32, 1970-01-01 22:02:31, 1970-01-01 22:05:32, 1970-01-01 22:02:46, 1970-01-01 22:10:28, 1970-01-01 22:11:58, 1970-01-01 22:01:05, 1970-01-01 22:19:10, 1970-01-01 22:16:54, 1970-01-01 22:17:32, 1970-01-01 22:12:05, 1970-01-01 22:23:03, 1970-01-01 22:22:14, 1970-01-01 22:25:09, 1970-01-01 22:24:04, 1970-01-01 22:19:59, 1970-01-01 22:31:32, 1970-01-01 23:06:11, 1970-01-01 22:55:56, 1970-01-01 23:07:09, 1970-01-01 23:11:56, 1970-01-01 23:04:35, 1970-01-01 23:04:28, 1970-01-01 23:12:51, 1970-01-01 23:08:05, 1970-01-01 23:11:37, 1970-01-01 23:09:31, 1970-01-01 22:57:55, 1970-01-01 23:14:00, 1970-01-01 23:09:06, 1970-01-01 23:07:31, 1970-01-01 23:09:13, 1970-01-01 22:56:25, 1970-01-01 23:09:55, 1970-01-01 23:18:34, 1970-01-01 23:09:22, 1970-01-01 23:21:30, 1970-01-01 23:07:45, 1970-01-01 23:23:25, 1970-01-01 23:16:11, 1970-01-01 23:22:05, 1970-01-01 23:17:48, 1970-01-01 23:24:13, 1970-01-01 23:25:52, 1970-01-01 23:33:36, 1970-01-01 23:31:00, 1970-01-01 23:20:43, 1970-01-01 23:26:11, 1970-01-01 23:21:06, 1970-01-01 23:26:59, 1970-01-01 23:30:37, 1970-01-01 23:38:24, 1970-01-01 23:38:05, 1970-01-01 23:33:54, 1970-01-01 23:30:32, 1970-01-01 23:45:41, 1970-01-01 23:43:25, 1970-01-01 23:37:24, 1970-01-01 23:35:01, 1970-01-01 23:43:22, 1970-01-01 23:52:57, 1970-01-01 23:47:36, 1970-01-01 23:45:00, 1970-01-01 23:27:12, 1970-01-01 23:45:34, 1970-01-01 23:44:47, ...]

[93142 rows x 0 columns]